body{
  margin-top: 30vh;
  margin: 25vh 30vw auto 30vw;
}

img{
  width: calc(15vw + 0.1vw);
  display: block;
  margin: auto auto;
  position: static;
}

a{
  text-decoration: none;
}

.click:hover{
  color: grey;
}

img:hover{
  filter: hue-rotate(270deg);
}

h4{
  position: relative;
  font-family: "gaegu";
  font-size: calc(1.5vw + 0.1vw);
  letter-spacing: 3px;
  font-synthesis: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
}
