body{
  margin-top: 30vh;
  margin: 25vh 20vw auto 20vw;
}

img{
  width: 30vh;
  display: block;
  margin: auto auto;
  position: static;
}

a{
  text-decoration: none;
}

.click:hover{
  color: grey;
}

img:hover{
  filter: hue-rotate(270deg);
}

h4{
  position: relative;
  font-family: "gaegu";
  font-size: 4vh;
  letter-spacing: 3px;
  font-synthesis: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
}
