body{
  margin:8vh 7vw;
  font-synthesis: style;
  letter-spacing: 3px;
}

#myNav , #menu{
  display: none;
}

.scrolling{
  scroll-behavior: smooth;
  overflow-y: hidden;
  overflow-x: visible;
}

.lang{
  margin-bottom: 5vh;
}

.id:hover{
  color: #BD5645;
}

.en:hover{
  color: #BD5645;
}

.caveat{
  color: black;
  font-family: "caveat";
  font-size: 2vh;
  text-decoration: none;
}

.underline:active{
  color: white;
  background-color: black;
}

.underline{
  width: 7vw;
  margin-bottom: calc(40px + 0.1vw);
}

.underline::after{
  display: block;
  content: "";
  width: 7vw;
  height: 1.7px;
  background-color: black;
}

.clicked{
  color: white;
  background-color: black;
}

#side{
  cursor: pointer;
  position: absolute;
  margin-top: 5vh;
  width: 9vw;
}

#top{
  margin: auto auto;
  text-align: center;
  width: 15vw;
  height: 5vh;
  margin-bottom: 7vh;
  position: sticky;
}

.logo{
  display: none;
  height: 5vh;
  margin: auto auto;
}

#top:hover h4{
  display: none;
}

#top:hover .logo {
  display: block;
}

.kalam{
  color: black;
  font-family: 'Boogaloo';
  font-size: 5vh;
  text-decoration: none;
}

#box{
  margin-top: 4vh;
  margin-left: 15vw;
  height: 50vh;
  max-width: 72vw;
  position: static;
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 1vw;
}

.img{
  border: #5E747A solid thin;
  width: 20vw;
  height: 45vh;
}

footer{
  margin-top: 12vh;
}

.copyright{
  float: right;
  font-size: 14px;
  text-align: left;
}

#gap{
  font-size: 14px;
  float: left;
  margin-right: 1em;
}

.icon{
  color: black;
}

.icon:hover{
  color: #5E747A;
}
