body{
  margin:8vh 6vw;
  font-synthesis: style;
  letter-spacing: 3px;
}

/* Navigation Left */

.caveat{
  color: black;
  font-family: "caveat";
  font-size: 13px;
  text-decoration: none;
}

.underline:active{
  color: white;
  background-color: black;
}

.underline{
  width: 100px;
  margin-bottom: 40px;
}

.underline::after{
  display: block;
  content: "";
  width: 100px;
  height: 1.7px;
  background-color: black;
}

#side{
  cursor: pointer;
  position: absolute;
  margin-top: 10vh;
  width: 9vw;
}

/* Logo */

.kalam{
  color: black;
  font-family: 'Boogaloo';
  font-size: 30px;
  text-decoration: none;
}

#top{
  margin: auto auto;
  height: 10vh;
  text-align: center;
  width: 200px;
  position: sticky;
}

/* Showcase */

#box{
  margin-top: 8vh;
  margin-left: 18vw;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1px;
  position: static;
}

.card{
  width: 21vw;
  height: 50vh;
  border: #5E747A solid thin;
}

.img{
  position: absolute;
  width: 21vw;
  height: 50vh;
}

.label{
  margin-top: 0;
  display: block;
  position: absolute;
  opacity: 0;
  width: 21vw;
  height: 50vh;
  background-color: yellow;
}

/* Footer */
.copyright{
  float: right;
  margin-top: 14vh;
  font-size: 14px;
  text-align: left;
}

#gap{
  margin-top: 14vh;
  font-size: 14px;
  float: left;
  margin-right: 1em;
}

.icon{
  color: black;
}

.icon:hover{
  color: #5E747A;
}
