body{
  margin:8vh 6vw;
  font-synthesis: style;
  letter-spacing: 3px;
}

#side{
  display: none;
}

#top{
  margin: auto auto;
  text-align: center;
  width: 300px;
  position: sticky;
}

.kalam{
  color: black;
  font-family: 'Boogaloo';
  font-size: calc(12px + 2.5vh);
  text-decoration: none;
}

#box{
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: -3vh;
}

.box{
  display: contents;
  margin: auto auto;
  text-align: center;
}

.img{
  display: flex;
  margin: auto auto;
  justify-content: center;
  height: calc(22vh + 2.2vh);
  padding: 2vh;
}

.story{
  font-family: "avenir next";
  font-weight: 300;
  font-size: calc(5px + 0.8vh);
  margin-bottom: 3em;
}

.caveat{
  color: black;
  font-family: "caveat";
  font-size: calc(12px + 0.2vw);
  text-decoration: none;
}

.copyright{
  font-size: calc(5px + 0.8vh);
}

.icon{
  color: black;
}

.icon:hover{
  color: #5E747A;
}

footer{
  margin: auto auto;
  line-height: calc(3vh + 2vw);
  text-align: center;
}
}
