body{
  margin:8vh 6vw;
  font-synthesis: style;
  letter-spacing: 3px;
}

.scrolling{
  scroll-behavior: smooth;
  overflow-y: visible;
  overflow-x: hidden;
}

/* Navigation Left */

.caveat{
  color: black;
  font-family: "caveat";
  font-size: 16px;
  text-decoration: none;
}

.underline:active{
  color: white;
  background-color: black;
}

.underline{
  width: 100px;
  margin-bottom: 40px;
}

.underline::after{
  display: block;
  content: "";
  width: 100px;
  height: 1.7px;
  background-color: black;
}

.clicked{
  color: white;
  background-color: black;
}

#side{
  cursor: pointer;
  position: absolute;
  margin-top: 10vh;
  width: 9vw;
}

/* Logo */

.kalam{
  color: black;
  font-family: 'Boogaloo';
  font-size: 30px;
  text-decoration: none;
}

#top{
  margin: auto auto;
  text-align: center;
  width: 200px;
  position: sticky;
}

/*Showcase*/
#box{
  margin-top: 8vh;
  margin-left: 18vw;
  position: static;
}

.box{
  display: grid;
  height: 50vh;
  width: 63vw;
  grid-template-columns: auto auto;
  grid-gap: 3vw;
}

.img{
  height: 30vh;
}

.story{
  white-space: pre-wrap;
  font-family: "avenir next";
  font-weight: 300;
  font-size: 14px;
}

/* Footer */
.copyright{
  float: right;
  margin-top: 14vh;
  font-size: 14px;
  text-align: left;
}

#gap{
  margin-top: 14vh;
  font-size: 14px;
  float: left;
  margin-right: 1em;
}

.icon{
  color: black;
}

.icon:hover{
  color: #5E747A;
}

/* Mobile */

@media (max-width:450vw) {
  #side{
    visibility: collapse;
    }
  #box{
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: -3vh;
  }
  .box{
    display: contents;
    margin: auto auto;
    text-align: center;
  }
  .img{
    display: flex;
    margin: auto auto;
    justify-content: center;
    padding: 3vh;
  }

  #gap , .copyright{
    float: none;
  }
  footer{
    margin: auto auto;
    line-height: 4vh;
    text-align: center;
  }

}
