body{
  margin:8vh 6vw;
  font-synthesis: style;
  letter-spacing: 3px;
}

.scrolling{
  scroll-behavior: smooth;
  overflow-y: visible;
  overflow-x: hidden;
}

.caveat{
  color: black;
  font-family: "caveat";
  font-size: calc(10px + 0.2vw);
  text-decoration: none;
}

.underline:active{
  color: white;
  background-color: black;
}

.underline{
  width: 100px;
  margin-bottom: calc(40px + 0.2vw);
}

.underline::after{
  display: block;
  content: "";
  width: calc(100px + 0.2vw);
  height: 1.7px;
  background-color: black;
}

.clicked{
  color: white;
  background-color: black;
}

#side{
  cursor: pointer;
  position: absolute;
  margin-top: 10vh;
  width: 9vw;
}

#top{
  margin: auto auto;
  text-align: center;
  width: 300px;
  position: sticky;
}

.kalam{
  color: black;
  font-family: 'Boogaloo';
  font-size: calc(30px + 0.2vw);
  text-decoration: none;
}

#box{
  margin-top: 8vh;
  margin-left: 15vw;
  height: 52.5vh;
  width: 72vw;
  position: static;
}

.box{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 3vw;
}

.img{
  height: 50vh;
}

.story{
  white-space: pre-wrap;
  font-family: "avenir next";
  font-weight: 300;
  font-size: calc(10px + 0.2vw);
}

footer{
  margin-top: 2.5vh
}

.copyright{
  float: right;
  margin-top: 14vh;
  font-size: 14px;
  text-align: left;
}

#gap{
  margin-top: 14vh;
  font-size: 14px;
  float: left;
  margin-right: 1em;
}

.icon{
  color: black;
}

.icon:hover{
  color: #5E747A;
}
